// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@400;500;600;700&family=Public+Sans&display=swap');

// Header
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
// Sub-header
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500');
// Text
// @import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

// Define fonts for body and headers
$body-font: "Playfair Display", "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Public Sans", "Montserrat", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h3 a {
  text-decoration: none;
  color: black;
}
