<div class="comment-card-container">
  <img class="avatar" alt="avatar" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="comment-text-container">
      <p><strong><%=  @comment.user.name %></strong></p>
      <p><%= @comment.content %></p>
    </div>
</div>
