<%= simple_form_for [@goal, @comment] do |f| %>
  <%= f.input :content%>
  <div class="d-flex justify-content-center">
  <%= f.submit "Add", class: "btn btn-primary", id: "form-button" %>
  </div>
<% end %>
