// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "highlight";


.link {
  font-family: 'Playfair Display SC', serif;
  text-decoration: none !important;
  color: white !important;
}

.link:hover {
  text-decoration: underline;
}

#description {
  font-family: 'Dancing Script', cursive;
}

// collaborators#index
.collaborator-container-index {
  width: 80%;
  margin: 40px auto;
}

.collaborator-container-index h1{
  font-family: 'Playfair Display', serif;
}

.collaborator-container-index h2{
  font-family: 'Playfair Display', serif;
}

.collaborator-container-index p {
  font-family: 'Public Sans', sans-serif;
}

.goal-link {
  color: black !important;
}

.card-collaborator {
  border: black solid 1px;
  text-align: center;
  min-width: 200px;
  max-width: 300px;
}

#A {
  font-size: 50px;
  font-family: 'Playfair Display SC'

}

// comments#index
.comments-index-page {
  width: 80%;
  margin: 40px auto;
  font-family: 'Playfair Display', serif;
}

.comments-index-page h5 {
  font-family: 'Playfair Display SC'
}

.comments-index-page h3 {
  font-family: 'Playfair Display', serif;
  font-weight: Bold 700;
}

.comments-index-page p {
  font-family: 'Playfair Display', serif;
  font-weight: Regular 400;
}

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-comment-container {
  width: 50%;
  top: 16px;
  position: sticky;
  font-size: 16px;
}

.right-comment-container {
  width: 40%;
}

#comment-button {
  background-color: #1E898B !important;
}

.comment-form {
  font-size: 150px;
}

.comment-header-goal {
  text-align: center;
}

#goal-title {
  font-family: 'Playfair Display SC'
}

.comment-header-insight {
  text-align: left;
}

#insight-title {
  font-family: 'Playfair Display SC';
}

.comment-container {
  align-items: flex-start;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.comment-card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;
  padding: 12px;
}

.comment-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-size: 12px;
}
