.new-insight-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-insight-form {
  width: 50%;
  padding: 64px;
  font-family: 'Playfair Display', serif;
}

.new-insight-image {
  width: 50%;
  height: 100vh;
  opacity: 0.1;
  text-align: right;
  border: 0;
}

.new-insight-header {
  font-family: 'Playfair Display SC', serif;
}
