.insights-container {
  width: 80%;
  margin: 40px auto;
}

.insights-container h1 {
  font-family: 'Playfair Display', serif;
}

.insights-container h2 {
  font-family: 'Playfair Display', serif;
}

#goal-link {
  text-decoration: none;
  color: black !important;
}

#goal-link:hover {
  text-decoration: underline;
}

.insights-container h4 {
  font-family: 'Playfair Display', serif;
}

.insights-container p {
  font-family: 'Playfair Display', serif;
}


.insights-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 36px;
}

.answer-photo {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 25px;
}

.question {
  margin-top: 36px;
  margin-bottom: 36px;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}

#insight-answer-form-text{
  font-family: 'Playfair Display', serif;
}

#form-button {
  background-color: #1E898B !important;
  border: none;
  text-align: center;
  border-radius: 12px !important;
}

body {
  background-color: rgb(250, 250, 250);
}


.new-goal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}

.new-goal-form {
  width: 50%;
  padding: 64px;
  font-family: 'Playfair Display', serif;
}

.new-goal-image {
  width: 50%;
  height: 100vh;
  border-radius: 32px;
  opacity: 0.9;
  text-align: right;
  border: 0;
}

.new-goal-header {
  font-family: 'Playfair Display SC', serif;
}

// Progress bookshelf
.big-bookcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  padding-right: 35px;
}

// One section
.one-bookcase-section{
  display: flex;
  flex-direction: column;
}

// background
.status-cover-container {
  position: relative;
  text-align: center;
  color: white;
}

.status-cover-plank {
  height: 175px;
  background-color: #5B1E8B;
}

.status-cover-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

// Description
.status-title-container{
  position: relative;
  text-align: left;
  color: white;
}

.status-title-plank {
  height: 50px;
  background-color: #A977BB;
}
.status-title-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

// Book
.one-book {
  position: absolute;
  bottom: 0;
}

.book-top{
  position: absolute;
}

.book-container {
  position: relative;
  text-align: center;
  color: white;
}

.book-cover {
  height: 125px;
  width: 40px;

  &:hover {
    cursor: pointer;
    margin-bottom: 10px;
  }

}

#thinking-colour {
  background-color: #60C746;
}

#started-colour {
  background-color: #EDA61D;
}

#closer-colour {
  background-color: #DC05FF;
}

#progress-colour {
  background-color: #1D95ED;
}

.book-strip-one {
  position: absolute;
  top: 2px;
  left: 0px;
}

.book-strip-two {
  position: absolute;
  top: 10px;
  left: 0px;
}

#goal-accomplished {
    position: absolute;
    bottom: 32%;
    left: 80%;
    color: white;
}

#goal-not-accomplished {
  position: absolute;
  bottom: 32%;
  left: 80%;
  color: #808080;
}

#got-no-insight{
  position: absolute;
  bottom: 32%;
  right: 80%;
  color: white;
}

#got-insight{
  visibility: hidden;
}

// all the books
ul.horizontal-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: 0;
}

ul.horizontal-list li {
  position: relative;
  margin: 1px;

  &:hover{
    .bookworm{
      opacity: 1;
      transform: translateX(0);
    }
  }
}

// name of one insight
.bookworm {
  opacity: 0;
  transform: translateX(-20px);
  position: absolute;
  // z-index: -1;
  transition: 300ms;
  width: 200px;
  top: -1.5rem;
  text-align: left;
}

.goal-banner {
  display: flex;
  justify-content: space-between;
}

.goal-banner-text {
  padding-top: 20px;
  flex-shrink: 5;
}

.goal-show-banner-image {
  flex-basis: auto;
  flex-grow: 3;
  width: 66%;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  margin: 25px;
  img {
    aspect-ratio: 16 / 9;
  }
}

// .goal-banner-image-card{
//   height: auto; 
//   width: auto; 
//   max-width: 66%; 
//   flex-basis: auto;
//   flex-grow: 3;
//   border-radius: 32px;
// }

.goal-banner-image {
  object-fit: contain;
  border-radius: 32px;
  aspect-ratio: 4 / 3;
  overflow:hidden;
  width: 100%;
}

.goal-header {
  font-family: 'Playfair Display SC', serif;
  font-size: 64px;
}

.goal-banner-update{
  font-size: 18px;
}

.goal-body {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.library-header {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.library-body {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

#goal-insight-container {
  margin-top: 3%;
}

#add-collaborators-link:hover {
  text-decoration: underline;
}

.container-xxl {
  margin-top: 20px;
}

.add-button {
  margin-top: 24px;
  margin-left: 20px;
}
