<% @collaborators.each do |collaborator| %>
  <% if collaborator.accepted == false %>
    <%# <a href= "/collaborators/<%= collaborator.id %>
    <a class="btn btn-primary" href="#">Accepted</a>
    <a class="btn btn-primary" href="#">Rejected</a>
  <% else %>
    <%# <%= link_to "Login", new_user_session_path%>
    do nothing.
  <% end %>
<% end %>
<%# <h1>Goals I am collaborating on</h1>
