.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #535e5e;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #cdd3d9;
  color: white;
}

.btn-card {
  border-radius: 8px;
  background-color: #1E898B;
  color: white;
  border: 0;
  margin-top: -40px;
}
