.card-trip {
    overflow: hidden;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 25px;
  }

  .card-trip img {
    height: 400px;
    width: 720px;
    object-fit: cover;
    border-radius: 5px;
  }

  .card-trip h2 {
    font-size: 98px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
  }

  .card-goal {
    background-size: cover;
    background-position: center;
    height: 245px;
    width: 435px;
    display: flex;
    justify-content: baseline;
    align-items: last baseline;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 25px;
    font-family: 'Playfair Display';
    margin-bottom: 50px;
  }

  .card-goal p {
    margin: 6px;
  }

  .card-goal.image {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/assets/find-new-job.jpg")
  }

  .card-goal.image_two {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/assets/image.png")
  }
  // .card-trip p {
  //   font-size: 12px;
  //   opacity: .7;
  //   margin: 0;
  // }


  // .card-trip .card-trip-infos {
  //   padding: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   position: relative;
  // }

  // .card-trip-infos .card-trip-user {
  //   position: absolute;
  //   right: 16px;
  //   top: -20px;
  //   width: 40px;
  // }
