.underline {
  background-image: linear-gradient(transparent 0%, transparent calc(65%), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
}

.insight-top {
  max-width: 300px;

  &:hover {
    cursor: pointer;
  }
}

.insight-img {
  height: 216px;
  width: 300px;
  object-fit: cover;
  padding-bottom: 1rem;
}

.insight-bg {
  z-index: 98;
  transform: translateX(100%);

  &.show{
    transform: translateX(0);
    background-color: grey;
    opacity: 0.75;
  }
}

hr {
  margin:0;
}

.modal-popleft {
  z-index: 99;
  transform: translateX(100%);
  transition: 300ms;

  &.show{
    transform: translateX(0);
  }
}

.insights-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: white;
  border: 1px blue solid;
  padding: 20px;
  border-radius: 10px;
  max-height: 80%;
  overflow-y: scroll;

}

.insight-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin:0;
  font-family: 'Playfair Display', serif;
}

.insight-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // border: 1px solid grey;
  width: 250px;
}

.insight-add {
  display: block;
  text-align: center;
}

.insight-scroll {
  overflow-x: scroll;
  width: 1000px;
  display: flex;
  // flex-grow: 1;
}

#insight-name {
  font-family: 'Playfair Display SC', serif;
}

#insight-summary {
  font-family: 'Playfair Display', serif;
}

// .insight-scroll::-webkit-scrollbar {
//   border: 0.2px solid black;
//   background-color: black;
// }

.insight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid grey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin: 15px;
  width: 30wh;
  background-color: white;

  &:hover {
    background-color: lightgrey;
  }
}

.insight-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.insight-question {
  font-size: 24;
  font-weight: bold;
}

// .insight-answer {
  // }

.insight-comment-box {
  display: flex;
  gap: 10px;
  border: 1px solid limegreen;
}

.insight-user {
  padding: 4px;
}

.insight-comment {
  flex-grow: 1;
  padding: 4px;
}

.insight-index-card {
  margin: 50px;
}

.photo-insight-index {
  max-height: 420px;
  max-width: 720px;
  margin: 25px;
}

.insight-title.index-page {
  margin-top: 25px;
}

.comment-btn {
  background-color: #1e898b;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px;
}

.collab-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  width: 200px;
}

.collab-img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.collab-pic {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-text {
  // border: 1px solid grey;
  top: 100%;
  left: 50%;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.span-active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}