.navbar-lewagon {
  justify-content: space-between;
  background: #1E898B;
  height: 50px;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  font-size: 16px;
  color: #FFFFFF;
}

.nav-link {
  padding-right: 30px;
  font-family: 'Playfair Display', serif;
  color: #FFFFFF;
}

.nav-link .nav-item{
  padding: 20px;
}

.nav-user {
  padding-right: 50px;
  // padding-bottom: 12px;
}

.navbar-brand svg path {
  fill: #FFFFFF;
  // fill: currentColor;
}

.dropdown-item {
  font-family: 'Playfair Display', serif;
}
