.navbar-lewagon {
  justify-content: space-between;
  background: #FFFFFF;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  font-size: 24px;
  color: #FFFFFF;
}

.nav-link {
  padding-right: 30px;
  color: #1E898B;
}

.nav-link .nav-item{
  padding: 20px;
}

.nav-user {
  padding-right: 50px;
  padding-bottom: 12px;
}

.navbar-brand svg path {
  fill: #1E898B;
  // fill: currentColor;
}