<div data-controller="modal">
  <div class="container">
    <div class="d-flex justify-content-end">
      <a class="btn btn-success" data-action="click->modal#showModal">Add Collaborators</a>
    </div>
  </div>

  <%# Modal %>
  <div data-modal-target="modal" class="goal-modal position-fixed w-100 h-100 bg-white top-0 start-0 bg-opacity-75">
    <div class="container">
      <%= simple_form_for([@goal, @collaborator]) do |f| %>
        <%= f.input :user, as: :text %>
      <% end %>
    </div>
  </div>
</div>
