<div class="col-4">
  <div class="card-trip-index none-shadow">
    <% if goal.photo.attached? %>
      <%= cl_image_tag goal.photo.key %>
    <% else %>
      <img src="./assets/images/demo-new-insight.jpg" />
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h2><%= link_to goal.name, goal_path(goal.id), class: "goal-link" %></h2>
        <p><%= goal.description %></p>
      </div>
    </div>
  </div>
</div>
