<div class="all-goals-container">
  <div class="container">
    <div class="goal-card">
    <% @goals.each do |goal| %>
      <div class="card-category mx-auto" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        <% if goal.photo.attached?%>
          url(<%= cl_image_path goal.photo.key %>)"
      <% else %>
          no photo
      <% end %>
      >
        <h2><%= link_to goal.name, goal_path(goal.id), class: "link" %></h2>
        <p id="description"><%= goal.description %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
