<h1>Goals#all</h1>
<div class="container">
  <div class="row">
    <% @goals.each do |goal| %>
      <div class="col-12 col-lg-3">
        <%= link_to goal.name, goal_path(goal.id) %>
      </div>
    <% end %>