<h1>Goals#all</h1>
<div class="container">
  <div class="row">
    <% @goals.each do |goal| %>
      <div class="row">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= goal.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= cl_image_tag("0wrv493qt76z7dtocmheatqw81eo",
      width: 400, height: 300, crop: :fill) %>
<%# <a class="btn btn-flat" href="#"></a> %>
