<div class="banner">
  <div class="container">
  <div class="fade-in-left">
    <h2><%=current_user.name %></h2>
    <%# <a class="btn btn-flat" href="#"> %>
    <p>You are a goal getter.</P>
  </div>
  </div>
</div>
<div class="container py-5">
  <div class="row gx-3 gy-3">
    <h4 id="A-goal"> Goals </h4>
    <a href="<%= new_goal_path %>" id="goal-new-link">
      <i class="fa-regular fa-square-plus fa-xl goal-add"></i>
    <%# <% end %>
    </a>
    <%= render @goals %>
  </div>
</div>
