<div class="new-goal-container">
  <div class="new-goal-form">
  <h5 style="text-align: center" class="new-goal-header">New goal</h5>
  <br>
    <%= render "form", goal: @goal, desc_label: "What do you want from this goal? Don't worry, this can be changed later, write what comes to mind." %>
  </div>
  <%= image_tag "new-goal.jpg", class: "new-goal-image" %>
</div>
