<div class="new-goal-container">
<div class=form>
<h5 style="text-align: center" class="new-goal-header">Add a new goal</h5>
  <%= render "form", goal: @goal, desc_label: "What do you want from this goal? Don't worry, this can be changed later so write whatever comes to mind." %>
</div>
</div>
