<div class=form>
<h5 style="text-align: center">Add a new goal</h5>
  <%= render "form", goal: @goal, desc_label: "What do you want from this goal? Write whatever comes to mind - this can be changed later." %>
</div>
