<div class="new-insight-container">
  <div class="new-insight-form">
    <h5 style="text-align: center" class="new-insight-header">New insight</h5>
    <br>
    <%= render "form", goal: @goal, insight: @insight %>
  </div>
  <%= image_tag "new-insight.jpeg", class: "new-insight-image" %>
</div>
