
<div class="container mt-2">
  <h1 class="heading-font">HIGHLIGHTS</h1>
  <p class="body-font">Uncover unconscious themes across your writing by viewing all your highlights</p>
  <br>
  <br>

  <% @highlights.each do |highlight| %>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <span class="underline body-font">
            <%= highlight.text %>
          </span>
        </div>

        <div class="col-3 d-flex flex-column">
          <div class="mb-2 heading-font">
            <strong><%= highlight.goal.name.upcase%></strong>
          </div>

          <div class="mb-2 body-font">
            <%= highlight.answer.insight.name%>
          </div>

          <div class="mb-2 fst-italic body-font">
            <%= highlight.updated_at.strftime('%d %b %Y') %>
          </div>
        </div>

        <hr>
      </div>
    </div>
  <% end %>

</div>
